page-quotes {
    .author{
        padding: 0px;
        margin: 0px;
        text-transform: uppercase;
        text-align: right;
        color: darkgray;

        &:before{
            content: '-';
        }
    }
}
